@{
    if (!Request.IsLocal)
    {
        Response.Cache.SetValidUntilExpires(true);
        Response.Cache.SetExpires(DateTime.UtcNow.AddDays(1));
        Response.Cache.SetCacheability(HttpCacheability.Public);

        string file = Server.MapPath(Request.CurrentExecutionFilePath);
        Response.Cache.SetLastModified(File.GetLastWriteTimeUtc(file));
        Response.AddFileDependency(file);
    }

    string DataName = Checklist.PageName(Request).Replace("/", " ");
    string Subtitle = Checklist.Subtitle(Request);
    string Section = Checklist.BaseName(Request);
}

<!DOCTYPE html>
<html lang="en-us">
<head>    
    <meta charset="utf-8" />
    <meta name="keywords" content="checklist, best practices, web development, performance, usability, mobile, website, @DataName" />
    <meta name="description" content="The ultimate checklist for all serious web developers building modern websites. @DataName" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
    <link rel="stylesheet" href="@Fingerprint.Tag("/content/all.min.css")" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    @if (DataName != Checklist.Title)
    { 
        <title>Web Developer Checklist - @DataName</title>
        <link rel="stylesheet" href="@Fingerprint.Tag("/Sections/" + Section + "/section.css")" />
    }
    else { 
        <title>Web Developer Checklist</title>
    }    
    
    <script src="/Scripts/modernizr-2.6.2.js"></script>
</head>
<body class="@Section.Replace(".", string.Empty).ToLowerInvariant()">

    <header itemscope itemtype="http://schema.org/WebApplication">
        <h1 itemprop="name">Web Developer Checklist</h1>

        @if (DataName != Checklist.Title)
        { 
            <h2>@DataName</h2>            
        }
    </header>

    @RenderPage("~/views/_menu.cshtml", null)

    <aside role="complementary">
        <a href="https://github.com/ligershark/webdevchecklist.com">
            <span class="ghFork"></span>
        </a>
    </aside>

    <div id="main" role="main">
        @RenderPage("~/views/_data.cshtml", null)
    </div>



    <footer>
        <a href="#" id="clearall">Clear all</a>
        <progress value="1" max="100">
            <span id="fallback">&nbsp;</span>
        </progress>
    </footer>

    <script src="@Fingerprint.Tag("/scripts/script.min.js")" async="async"></script>
    <script>
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-37479788-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>
