@helper Render(string id, string label, bool optional = false)
{
    @Render(id, label, null, null, optional)
}

@helper Render(string id, string label, string linkText, string linkUrl, bool optional = false)
{
    string className = optional ? "optional" : null;
    
    <li class="@className">
        <input type="checkbox" id="@id" />
        <label for="@id">@label</label>

        @if (!string.IsNullOrEmpty(linkUrl))
        {
            <a href="@linkUrl">@linkText</a>
        }
    </li>    
}